@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #001122;
}
.card {
  background-color: #125e73 !important;
  color: white !important;
}
.qr-code img {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  border: 0.5px solid #7fb7c9;
  border-radius: 8px;
}
.qr-input input {
  outline: none;
}
.button-hide {
  display: none !important;
}
.select-hide {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .qr-code img {
    max-width: 100%;
    max-height: 100%;
  }
}
